#about-page{
    flex-direction: column;
}

.about-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: auto;
}

.about-me-section-title{
    margin: 2rem 0rem;
    font-size: 3rem;
    font-family: 'Antic Slab', serif;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.sub-section-title{
    margin-bottom: 1rem;
    display: flex;
    align-self: flex-start;
    margin-left: 5%;
    font-family: 'Special Elite', cursive;
    letter-spacing: 0.02rem;
    color: var(--secondary-color);
    font-size: 2rem;
}

.about-page-pictures{
    height: 30rem;
    width: 90%;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow-format);
    object-fit:cover;
    /* can change for each photo */
    /* object-position: 10% 70%; */
}

/* #about-me-profile-picture{
    object-position: 10% 5%;
} */

/* #about-me-videography{
    object-position: 10% 52%
} */

.about-me-paragraphs{
    display: flex;
    text-align:left;
    width: 90%;
    font-size: 1.5rem;
    margin: 1rem 0rem;
}

.about-me-page-break {
    border: 4px solid var(--secondary-color);
    min-width: 90%;
    opacity: 50;
    /* margin: auto; */
}

#ut-title{
    padding-top: 3rem;
}

#location-content-container{
    display: flex;
    justify-content: center;
    width:95%;
    padding-bottom: 2rem;
}

.location-map {
    height: 30rem;
    min-width: 70%;
}

.location-information {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 2rem;
    height: 30rem;
    font-family: 'Antic Slab', serif;
    letter-spacing: 0.02rem;
}