#nav-toggle-btn {
    appearance: none;
    background-color: green;
    color: red;
    border-radius: solid 10px red;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.fa-bars {
    font-size: 1.5rem;
}

.nav-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.nav-icon{
    font-size: 2rem;
    margin-right: 0.5rem ;
}

.nav-words{
    font-size: 1.5rem;
}