nav{
    position: fixed;
    top:1%;
}

#nav-toggle-btn {
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    background: var(--primary-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: var(--secondary-color) 0px 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Stick No Bills', sans-serif;
    margin: 1rem;
}

#nav-toggle-btn:before {
    content: '';
    background: linear-gradient(45deg, var(--secondary-color), var(--word-color),var(--secondary-color), var(--word-color),var(--secondary-color), var(--word-color));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#nav-toggle-btn:active {
    color: var(--primary-color);
}

#nav-toggle-btn:active:after {
    background: transparent;
}

#nav-toggle-btn:hover:before {
    opacity: 1;
}

#nav-toggle-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.fa-bars {
    font-size: 1.5rem;
}

#staticBackdrop {
    background-color: var(--secondary-color);
}

.nav-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-item-container{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-color);
    padding: 2.5rem;
}

.nav-item-container:hover{
    color: var(--word-color);
}

.nav-icon{
    font-size: 2rem;
    margin-right: 0.8rem ;
}

.nav-words{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

/* Tablet Sizing */
@media screen and (max-width: 1023px) {
    #nav-toggle-btn {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }
}