#nav-toggle-btn {
    appearance: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    
    box-shadow: var(--secondary-color) 0px 5px 15px;
}

.fa-bars {
    font-size: 1.5rem;
}

#staticBackdrop {
    background-color: var(--secondary-color);
}

.nav-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-item-container{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--primary-color);
    padding: 2.5rem;
}

.nav-item-container:hover{
    color: var(--word-color);
}

.nav-icon{
    font-size: 2rem;
    margin-right: 0.8rem ;
}

.nav-words{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}