.portfolio-buttons-container{
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-buttons {
    width: 10rem;
    height: 3rem;
    border: none;
    outline: none;
    color: var(--word-color);
    background: var(--primary-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    box-shadow: var(--secondary-color) 0px 5px 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 600;
    margin: 1rem;
    font-size: 1.2rem;
}

.portfolio-buttons:before {
    content: '';
    background: linear-gradient(45deg, var(--secondary-color), var(--word-color),var(--secondary-color), var(--word-color),var(--secondary-color), var(--word-color));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.portfolio-buttons:active {
    color: var(--primary-color);
}

.portfolio-buttons:active:after {
    background: transparent;
}

.portfolio-buttons:hover:before {
    opacity: 1;
}

.portfolio-buttons:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Tablet Sizing */
@media screen and (max-width: 1023px) {
    .portfolio-buttons {
        width: 14rem;
    }
}

/* Phone Sizing */
@media screen and (max-width: 576px) {
    .portfolio-buttons {
        width: 8rem;
        font-size: 1rem;
    }
}