body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--word-color);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.pages{
    display: flex;
    height: 90vh;
    width: 100vw;
}


