:root {
  --primary-color: #FEF8DD;
  --secondary-color: #004B96;
  --word-color: #171614;
  --input-hover-color:#58575109;
}

[data-theme="dark"] {
  --primary-color: #2D2D34;
  --secondary-color: #7D84B2;
  --word-color: #fbfff1;
  --input-hover-color: #cbcbff06;
}

#root{
  height:100vh;
  width:100vw;
}